body {
  background-color: black;
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}

header {
  background-color: black;
  position: sticky;
  top: 0px;
  z-index: 5;
  opacity: 85%;
}
header .menu-nav .div-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .menu-nav .div-header a .imagen-header {
  height: 4rem;
}
header .menu-nav .div-header .boton-nav {
  display: none;
  background-color: black;
  border: 3px rgb(165, 129, 29) solid;
}
header .menu-nav .div-header .boton-nav:hover {
  background-color: black;
  border: 3px rgb(165, 129, 29) solid;
}
header .menu-nav .div-header .boton-nav:active {
  background-color: black;
  border: 3px rgb(165, 129, 29) solid;
}
header .menu-nav .div-header .collapse-horizontal .card-menu {
  display: none;
  width: 250px;
  background-color: black;
}
header .menu-nav .div-header .collapse-horizontal .card-menu ul .lista-menu-res:hover {
  transition: 0.5s;
  color: grey;
  text-decoration: underline;
  transform: scale(1.2);
}
header .menu-nav .div-header .collapse-horizontal .card-menu ul .lista-menu-res a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
header .menu-nav .div-header .menu-escritorio ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: black;
  font-weight: 600;
  padding: 0px;
  margin: 10px 0px 20px 0px;
  gap: 40px;
  position: sticky;
  top: 0px;
  list-style: none;
}
header .menu-nav .div-header .menu-escritorio ul .lista-menu:hover {
  transition: 0.5s;
  color: grey;
  text-decoration: underline;
  transform: scale(1.2);
}
header .menu-nav .div-header .menu-escritorio ul .lista-menu a {
  text-decoration: none;
  color: white;
}

/* FOOTER */
footer .div-footer {
  background-color: rgb(49, 49, 49);
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 150px;
}
footer .div-footer .div-social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 60px;
}
footer .div-footer .div-social .contenedor-hover-redes {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
footer .div-footer .div-social .contenedor-hover-redes:hover .logo-color {
  display: block;
  transition: 3s;
}
footer .div-footer .div-social .contenedor-hover-redes:hover .imagen-social {
  display: none;
}
footer .div-footer .div-social .contenedor-hover-redes a .imagen-social {
  width: 100%;
}
footer .div-footer .div-social .contenedor-hover-redes a .logo-color {
  width: 100%;
  display: none;
}
footer .div-footer .div-go-up {
  height: 100%;
  display: flex;
  align-items: center;
}
footer .div-footer .div-go-up a .arrow-up {
  width: 40px;
  height: 100%;
  background-color: rgb(170, 166, 166);
  border-radius: 50%;
  margin-right: 20px;
}
footer .div-footer .div-go-up a .arrow-up:hover {
  box-shadow: 0px 0px 4px white;
}

main h1 {
  display: none;
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora {
  font-size: 2.4rem;
  padding: 0px 10px;
  margin-left: 15%;
  border: 4px white solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora:hover {
  box-shadow: 0px 0px 20px white;
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora a {
  text-decoration: none;
  color: white;
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-inoculum {
  width: 30%;
  margin-right: 15%;
  filter: drop-shadow(0 0px 20px white);
}
main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-remera {
  width: 35%;
  margin-right: 12%;
  filter: drop-shadow(0 0px 20px white);
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .h2-tour {
  font-size: 3rem;
  text-decoration: underline;
  text-shadow: 0px 0px 10px white;
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr th {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr td {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .boton-shows {
  font-size: 2.6rem;
  padding: 0px 10px;
  margin-bottom: 2rem;
  border: 4px white solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .boton-shows:hover {
  box-shadow: 0px 0px 20px white;
}
main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .boton-shows a {
  text-decoration: none;
  color: white;
}
main section .fondo-home2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  max-width: 100%;
  max-height: 100%;
  background-image: url(../../pag/background-index/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main section .fondo-home2 h2 {
  font-size: 3rem;
  margin-top: 3rem;
}
main section .fondo-home2 .div-video {
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
}
main section .fondo-home2 .div-video iframe {
  width: 60%;
  height: 60%;
}

main .padre-miembros {
  display: grid;
  grid-template-areas: "maynard adam danny justin";
  grid-template-rows: auto;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  justify-content: center;
  gap: 0 1%;
  margin-top: 6rem;
}
main .padre-miembros .maynard {
  grid-area: maynard;
}
main .padre-miembros .adam {
  grid-area: adam;
}
main .padre-miembros .danny {
  grid-area: danny;
}
main .padre-miembros .justin {
  grid-area: justin;
}
main .padre-miembros .targeta-uni {
  width: 100%;
  border: 2px white solid;
  border-radius: 12px;
  margin-top: 1.3rem;
  box-shadow: 0 0 12px white;
}
main .padre-miembros .targeta-uni:hover {
  transform: scale(1.02);
  box-shadow: 0 0 16px rgba(202, 20, 20, 0.5);
}
main .padre-miembros .targeta-uni .imagen-ajuste {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}
main .padre-miembros .targeta-uni .imagen-ajuste .imagen-integrante {
  border-radius: 8px;
  width: 95%;
}
main .padre-miembros .targeta-uni .div-info-miembros {
  background-color: rgb(201, 201, 201);
  color: black;
  border-radius: 7px;
  margin: 0.4rem 0.2rem;
}
main .padre-miembros .targeta-uni .div-info-miembros .info-miembros {
  text-align: left;
  padding: 1rem 0.2rem;
  max-width: 95%;
  min-height: 25rem;
  height: 500px;
}

main .seccion-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  width: 100%;
}
main .seccion-music .art-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  width: 45%;
}
main .seccion-music .art-album div {
  align-items: center;
  width: 85%;
}
main .seccion-music .art-album div img {
  margin-bottom: 1rem;
  border-radius: 20px;
  width: 100%;
}
main .seccion-music .art-album .div-sporify-tracklist {
  display: flex;
  gap: 10px;
  width: 85%;
}
main .seccion-music .art-album .div-sporify-tracklist .div-spotify {
  width: 60%;
}
main .seccion-music .art-album .div-sporify-tracklist .div-track {
  max-width: 40%;
}
main .seccion-music .art-album .div-sporify-tracklist .div-track ol {
  padding-left: 25px;
}

main .section-merch {
  display: flex;
  margin-top: 5rem;
}
main .section-merch input {
  display: none;
}
main .section-merch .div-nav-merch {
  background-color: black;
  min-width: 20%;
}
main .section-merch .div-nav-merch .lista-merch {
  position: sticky;
  top: 10rem;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 700;
}
main .section-merch .div-nav-merch .lista-merch li {
  margin-top: 2rem;
}
main .section-merch .div-nav-merch .lista-merch li:hover {
  background-color: rgb(49, 49, 49);
}
main .section-merch .div-nav-merch .lista-merch li label {
  cursor: pointer;
}
main .section-merch .div-merch {
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem 0 0;
}
main .section-merch .div-merch > * {
  max-width: 25%;
  min-width: 20%;
  margin: 0% 2% 3% 2%;
}
main .section-merch .div-merch .product {
  display: none;
}
main .section-merch .div-merch .product .card-merch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 120px;
  margin-left: 5px;
  margin-top: 3px;
}
main .section-merch .div-merch .product .card-merch .btn-merch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 40px;
  border: rgb(253, 151, 151) 2px solid;
  border-radius: 25px;
  background-color: rgba(202, 20, 20, 0.5);
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
main .section-merch .div-merch .product .card-merch .btn-merch:hover {
  border: rgb(250, 180, 180) 2px solid;
  background-color: rgba(202, 20, 20, 0.808);
}
main #todos:checked ~ .div-merch .product {
  display: block;
}
main #ropa:checked ~ .div-merch .ropa {
  display: block;
}
main #otros:checked ~ .div-merch .otros {
  display: block;
}
main #discos:checked ~ .div-merch .discos {
  display: block;
}

main section .h2-invisible {
  display: none;
}
main section .imagen-tour-resp {
  display: none;
}
main section .imagen-tour {
  width: 100%;
}
main section .div-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section .div-tour .fechas-tour {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}
main section .div-tour .fechas-tour .fecha-boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
main section .div-tour .fechas-tour .fecha-boton:hover {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
}
main section .div-tour .fechas-tour .fecha-boton div h3 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
main section .div-tour .fechas-tour .fecha-boton div span {
  font-size: 1.7rem;
  color: rgb(179, 179, 179);
  margin-right: 1.3rem;
}
main section .div-tour .fechas-tour .fecha-boton .boton-ticket {
  width: 150px;
  height: 50px;
  border: rgb(253, 151, 151) 2px solid;
  border-radius: 25px;
  background-color: rgba(202, 20, 20, 0.5);
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
main section .div-tour .fechas-tour .fecha-boton .boton-ticket:hover {
  border: rgb(250, 180, 180) 2px solid;
  background-color: rgba(202, 20, 20, 0.808);
}

@media (min-width: 577px) and (max-width: 1024px) {
  body header .menu-nav .div-header a .imagen-header {
    height: 3.2rem;
  }
  body header .menu-nav .div-header .menu-escritorio ul {
    font-weight: 550;
    gap: 30px;
  }
  footer .div-footer {
    height: 85px;
  }
  footer .div-footer .div-social .contenedor-hover-redes {
    width: 32px;
  }
  footer .div-footer .div-go-up a .arrow-up {
    width: 32px;
  }
  /* INDEX */
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora {
    font-size: 1.3rem;
    padding: 0px 6px;
    margin-left: 14%;
    border: 3px white solid;
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora:hover {
    box-shadow: 0px 0px 12px white;
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-inoculum {
    width: 34%;
    margin-right: 13%;
    filter: drop-shadow(0 0px 12px white);
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-remera {
    width: 37%;
    margin-right: 10%;
    filter: drop-shadow(0 0px 12px white);
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .h2-tour {
    font-size: 2rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr th {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr td {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .boton-shows {
    font-size: 1.3rem;
    padding: 0px 6px;
    margin-bottom: 1.5rem;
    border: 3px white solid;
  }
  main section .fondo-home2 {
    gap: 2rem;
  }
  main section .fondo-home2 h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  main section .fondo-home2 .div-video iframe {
    width: 70%;
    height: 70%;
  }
  /* MIEMBROS */
  main .padre-miembros {
    grid-template-areas: "maynard adam" "danny justin";
    grid-template-rows: auto;
    grid-template-columns: 45% 45%;
    gap: 0 3%;
    margin-top: 3rem;
  }
  main .padre-miembros .targeta-uni {
    box-shadow: 0 0 8px white;
  }
  main .padre-miembros .targeta-uni:hover {
    transform: scale(1.015);
    box-shadow: 0 0 12px rgba(202, 20, 20, 0.5);
  }
  /* MERCH */
  main .section-merch {
    margin-top: 3rem;
  }
  main .section-merch .div-nav-merch .lista-merch {
    font-size: 1.3rem;
    font-weight: 600;
  }
  main .section-merch .div-merch {
    width: 100%;
    justify-content: space-evenly;
  }
  main .section-merch .div-merch > * {
    max-width: 35%;
  }
  /* MUSIC */
  main .seccion-music .art-album {
    width: 70%;
    margin-bottom: 2rem;
  }
  /* TOUR */
  main section .imagen-tour-resp {
    display: none;
  }
  main section .imagen-tour {
    display: block;
  }
  main section .div-tour .fechas-tour {
    width: 100%;
  }
  main section .div-tour .fechas-tour .fecha-boton {
    gap: 1rem;
    padding: 0 1rem;
  }
  main section .div-tour .fechas-tour .fecha-boton div h3 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
  }
  main section .div-tour .fechas-tour .fecha-boton div span {
    font-size: 1.3rem;
  }
  main section .div-tour .fechas-tour .fecha-boton .boton-ticket {
    margin-left: 1.2rem;
    width: 130px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media (max-width: 576px) {
  /* HEADER Y FOOTER */
  body header .menu-nav .div-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 4rem;
  }
  body header .menu-nav .div-header a .imagen-header {
    height: 2.5rem;
  }
  body header .menu-nav .div-header .boton-nav {
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  body header .menu-nav .div-header .collapse-horizontal {
    position: absolute;
    left: 10px;
    top: 50px;
  }
  body header .menu-nav .div-header .collapse-horizontal .card-menu {
    display: block;
  }
  body header .menu-nav .div-header .collapse-horizontal .card-menu ul {
    list-style: none;
  }
  body header .menu-nav .div-header .menu-escritorio {
    display: none;
  }
  body footer .div-footer {
    height: 70px;
  }
  body footer .div-footer .div-social .contenedor-hover-redes {
    width: 25px;
  }
  body footer .div-footer .div-go-up a .arrow-up {
    width: 25px;
  }
  /* INDEX */
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora {
    font-size: 0.9rem;
    padding: 0px 2px;
    margin-left: 12%;
    border: 2px white solid;
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .boton-compra-ahora:hover {
    box-shadow: 0px 0px 8px white;
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-inoculum {
    width: 37%;
    margin-right: 11%;
    filter: drop-shadow(0 0px 8px white);
  }
  main section .carousel-fade .carousel-inner .carousel-item .ajuste-carr .slide-remera {
    width: 40%;
    margin-right: 8%;
    filter: drop-shadow(0 0px 8px white);
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .h2-tour {
    font-size: 1rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr th {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .tabla-tour tr td {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
  }
  main section .carousel-fade .carousel-inner .carousel-item .carousel-tour .boton-shows {
    font-size: 1rem;
    padding: 0px 10px;
    margin-bottom: 1rem;
    border: 2px white solid;
  }
  main section .fondo-home2 {
    gap: 1rem;
  }
  main section .fondo-home2 h2 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  main section .fondo-home2 .div-video iframe {
    width: 75%;
    height: 75%;
  }
  /* MIEMBROS */
  main .padre-miembros {
    grid-template-areas: "maynard" "adam" "danny" "justin";
    grid-template-columns: 90%;
    margin-top: 2rem;
  }
  main .padre-miembros .targeta-uni {
    box-shadow: 0 0 8px white;
  }
  main .padre-miembros .targeta-uni:hover {
    transform: scale(1.01);
    box-shadow: 0 0 12px rgba(202, 20, 20, 0.5);
  }
  /* MERCH */
  main .section-merch {
    flex-direction: column;
    margin-top: 1rem;
  }
  main .section-merch .div-nav-merch {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  main .section-merch .div-nav-merch .lista-merch {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  main .section-merch .div-nav-merch .lista-merch li {
    margin-top: 0;
  }
  main .section-merch .div-merch {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0 20px;
  }
  main .section-merch .div-merch > * {
    max-width: 45%;
    margin: 0% 2% 3% 2%;
  }
  /* MUSIC */
  main .seccion-music .art-album {
    width: 85%;
    margin-bottom: 2rem;
  }
  main .seccion-music .art-album .div-sporify-tracklist {
    flex-direction: column;
    width: 100%;
  }
  main .seccion-music .art-album .div-sporify-tracklist .div-spotify {
    width: 75%;
    height: 80%;
  }
  main .seccion-music .art-album .div-sporify-tracklist .div-track ol {
    display: none;
  }
  /* TOUR */
  main section .imagen-tour-resp {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
  main section .imagen-tour {
    display: none;
  }
  main section .div-tour .fechas-tour {
    width: 100%;
    gap: 1rem;
  }
  main section .div-tour .fechas-tour .fecha-boton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.3rem 0.6rem;
  }
  main section .div-tour .fechas-tour .fecha-boton div h3 {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
  }
  main section .div-tour .fechas-tour .fecha-boton div span {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
  main section .div-tour .fechas-tour .fecha-boton .boton-ticket {
    margin-left: 1rem;
    width: 120px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

/*# sourceMappingURL=main.css.map */
