

body {
    background-color: black;
    font-family: "Saira Stencil", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;

}

/* HEADER */
h1 {
    display: none;
}
.h2-invisible {
    display: none;
}
header {
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 5;
    opacity: 85%;
    
}


.divheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsivenav {
    display: none;
}

.imagenheader {
    height: 4rem;
    
}

.botonnav {
    background-color: black;
    border: 3px rgb(165, 129, 29) solid;
}


.botonnav:hover {
    background-color: black;
    border: 3px rgb(165, 129, 29) solid; 
    
} 

.botonnav:active {
    background-color: black;
    border: 3px rgb(165, 129, 29) solid;
    
}

.divprinrespnav {
    min-height: 120px;
}

.cardmenu {
    width: 250px;
    background-color: black;
}

.menunavresponsive ul {
    list-style: none;
}

.menunav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    list-style: none;
    background-color: black;
    font-weight: 600;
    padding: 0px;
    margin: 10px 0px 20px 0px;
    gap: 40px;
    position: sticky;
    top: 0px;
   
}


nav a {
    text-decoration: none;
    color: white;

}


.listamenu:hover {
    transition: 0.5s;
    color: grey;
    text-decoration: underline;
    transform: scale(1.2);

}

/* CARRUSEL DE HOME */

.ajustecarr  {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}


.botoncompraahora {
    font-size: 2.6rem;
    padding: 0px 10px;
    margin-left: 15%;
    border: 4px white solid;
    background-color: rgba(0, 0, 0, 50%);
    
    
    
}

.botoncompraahora:hover {
    box-shadow: 0px 0px 20px white;

}

.botoncompraahora a {
    text-decoration: none;
    color: white;

}


.botonshows a {
    text-decoration: none;
    color: white;
    
    
}


.botonshows {
    font-size: 2.6rem;
    padding: 0px 10px;
    margin-bottom: 2rem;
    border: 4px white solid;
    background-color: rgba(0, 0, 0, 50%)
    
}


.botonshows:hover {
    box-shadow: 0px 0px 20px white;

}


.botonshows a {
    text-decoration: none;
    color: white;
 
}

.slideinoculum {
    width: 30%;
    margin-right: 15%;
        
}


.slideremera{
    width: 35%;
    margin-right: 12%;

}


.slideinoculum, .slideremera {
    filter: drop-shadow(0 0px 20px white);
    
}


.h2tour{
    font-size: 3rem;
    text-decoration: underline;
    text-shadow: 0px 0px 10px white;

}


.carousel-tour {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
}


.tablatour tr th, .tablatour tr td {
    font-size: 1.7rem;
    padding: 0.5rem 1.5rem;
    
    
       
}



/* FONDO DEBAJO CARRUSEL HOME */

.fondohome2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 100%;
    max-height: 100%;
    background-image: url(./pag/background-index/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.fondohome2 h2 {
    font-size: 4rem;
    margin-top: 3rem;
    
}
.divvideo {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.fondohome2 iframe {
    width: 60%;
    height: 60%;
}



/* MIEMBROS */

.divpadremiembros{
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
    
    
}


.targetauni {
    width: 23%;
    border: 2px white solid;
    border-radius: 12px;
    
    
        
}


.imagenintegrante {
    border-radius: 8px;    
    width: 95%;

}


.imagenajus {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;

}


.divinfomiembros {
    background-color: rgb(201, 201, 201);
    color: black;
    border-radius: 7px;
    margin: 0.4rem 0.2rem;
    
    
    
    
}


.informiembros {
    text-align: left;
    padding: 1rem 0.2rem;
    max-width: 95%;
    min-height: 25rem;
    height: 500px;
    
    
    
}


.imagenmain {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 80vh;
    align-items: center;

}


.d-block {
    height: 100%;
    width: 100%;
    
}

/* MERCH */
.sectionmerch {
    display: flex;
    margin-top: 5rem;
    

}


.divmerch {
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
        
}


.divmerch > * {
    max-width: 25%;
    min-width: 20%;
    margin: 0% 2% 3% 2%;
    
}

 .cardmerch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;
}

.divnavmerch {
    background-color: black;
    min-width: 20%;
         
}


.divnavmerch ul {
    position: sticky;
    top: 10rem;

}


.lista-merch {
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    
}


.lista-merch li {
    margin-top: 2rem;
    
}


.product {
  display: none;
}


#todos:checked ~ .divmerch .product {
  display: block;
  
}


#ropa:checked ~ .divmerch .ropa {
  display: block;
  
}


#otros:checked ~ .divmerch .otros {
  display: block;
}


#discos:checked ~ .divmerch .discos {
  display: block;
}

.lista-merch label {
  cursor: pointer;
}

.sectionmerch input {
  display: none;
}

.divnavmerch ul li:hover {
    background-color: rgb(49, 49, 49);
    
}

/* MUSIC */


.seccionmusic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
    

}


.divalbum {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    width: 45%;
    
    
}


.divalbum div img {
    margin-bottom: 1rem;
    border-radius: 20px;
    width: 100%;


}
.divalbum div {
    align-items: center;
    width: 85%;
}

.divspolet {
    display: flex;
    gap: 10px;
    width: 100%;

}
.divlet {
    max-width: 40%;
}

.divspolet div ol {
    padding-left: 25px;
    
}

.divspo {
    width: 60%;
}

 /* TOUR */
.imagen-tour-resp {
    display: none;
}
 .imagen-tour {
    width: 100%;
 } 
 
 .divtour {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
 }  

.fechastour {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 75%;
}
.fechastour div h3 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
.fechastour div span {
    font-size: 1.7rem;
    color: rgb(179, 179, 179);
    margin-right: 1.3rem;
}

.fecha-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonticket {
    width: 150px;
    height: 50px;
    border: rgb(253, 151, 151) 2px solid;
    border-radius: 25px;
    background-color: rgb(202, 20, 20, 50%);
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
}

/*responsive*/

@media (max-width: 576px) {
            /*HOME*/
    header {
        display: flex;
        justify-content: flex-end; 
        
    }
    
    .menunav {
        display: none;
        
    }
    
    .responsivenav {
        display: block;
        position: absolute;
        left: 10px; 

    } 

    .botoncompraahora:hover {
    box-shadow: 0px 0px 8px white;

    }

    .slideinoculum, .slideremera {
    filter: drop-shadow(0 0px 8px white);

    }

    .botoncompraahora {
    font-size: 0.9rem;
    padding: 0px 2px;
    margin-left: 12%;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 50%);
    }
    .slideinoculum {
    width: 37%;
    margin-right: 11%;
        
    }


    .slideremera{
    width: 40%;
    margin-right: 8%;

    }

    .botonshows {
    font-size: 1rem;
    padding: 0px 10px;
    margin-bottom: 2rem;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 50%);
    
    }

    .h2tour{
    font-size: 1rem;
   
    }

    .tablatour tr th, .tablatour tr td {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    
    }
    .fondohome2 {
    gap: 0rem;

    }

     .fondohome2 h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
    }

    .fondohome2 iframe {
    width: 75%;
    height: 75%;
    }
    
            /*MIEMBROS*/
    .divpadremiembros{
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    }
    
    .targetauni {
        min-width: 90%;
        margin-bottom: 2rem;
    }

            /*MERCH*/

    .sectionmerch {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    }

    .divnavmerch {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    }

    .lista-merch {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;

    }

    .lista-merch li {
    margin-top: 0;
    }

    .divmerch > * {
    max-width: 40%;
    margin: 0% 2% 3% 2%;
    
    
    
    }
    .divmerch {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
            
    }
 

    /* MUSIC */
    
    .divalbum {
    width: 85%;
    margin-bottom: 2rem;
    }
    .divspolet {
        flex-direction: column;
        
    }
    .divspolet div ol {
        display: none;
    }
    
    /* TOUR */

    .imagen-tour-resp {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    }
    .imagen-tour {
    display: none;
    
    }

    .fechastour {
    width: 100%;
    gap: 3rem;
    }
    .fecha-boton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
    }

    .fechastour div h3 {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    }

    .fechastour div span {
    font-size: 0.8rem;
    margin-left: 1rem;
        
    }
    .botonticket {
    margin-left: 1rem;
    width: 120px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 500;
    
    }

}
    


@media (min-width:577px) and (max-width:1024px) {
        /* HOME */
    .divheader nav {
        width: 100%;
    }

    .menunav {
        width: 100%;
        justify-content: center;
        gap: 25px;
    }

    .botoncompraahora:hover {
    box-shadow: 0px 0px 13px white;

    }

    .slideinoculum, .slideremera {
    filter: drop-shadow(0 0px 13px white);
    }

    .botoncompraahora {
    font-size: 1.5rem;
    padding: 0px 2px;
    margin-left: 12%;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 50%);
    }
    .slideinoculum {
    width: 37%;
    margin-right: 11%;
        
    }


    .slideremera{
    width: 40%;
    margin-right: 8%;

    }

    .botonshows {
    font-size: 1.5rem;
    padding: 0px 10px;
    margin-bottom: 2rem;
    border: 4px white solid;
    background-color: rgba(0, 0, 0, 50%);
    
    }

    .h2tour{
    font-size: 1.7rem;
   
    }

    .tablatour tr th, .tablatour tr td {
        font-size: 1.2rem;
        padding: 0.2rem 0.7rem;
    }   
    .fondohome2 {
    gap: 0rem;
    }

    .fondohome2 h2 {
    font-size: 2rem;
    margin-top: 1.2rem;
    }

    .fondohome2 iframe {
    width: 70%;
    height: 70%;
    }
    /* MIEMBROS */
    .divpadremiembros{
    flex-wrap: wrap;
    }
    .targetauni {
    width: 45%;
    margin-bottom: 2rem;
    }
        /* MUSIC */
    .divalbum {
    width: 75%;
    
    }   
    
    /* MERCH */

    .divnavmerch {
    margin-right: 50px;
    }

    .divmerch > * {
    max-width: 40%;
    margin: 0% 2% 3% 2%;
    
}
    /* TOUR */

    .fechastour {
    width: 100%;
    gap: 3rem;
    }

    .fechastour div h3 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    }

    .fechastour div span {
    font-size: 1.4rem;
    margin-left: 1rem;
        
    }
    .botonticket {
    margin-right: 1rem;
    height: 45px;
    font-size: 1rem;
    width: 120px;
    
    }


}




