






    /*responsive*/

@media (max-width: 576px) {

    


    

    
    
            /*MIEMBROS*/
    .padre-miembros{
    
    grid-template-areas: 
    "maynard" 
    "adam"
    "danny"
    "justin" ;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    margin-top: 4rem; 
    box-shadow: 0 0 3px white;
}



            /*MERCH*/

    .section-merch {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    }

    .div-nav-merch {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
    }

    .lista-merch {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;

    }

    .lista-merch li {
    margin-top: 0;
    }

    .div-merch > * {
    max-width: 40%;
    margin: 0% 2% 3% 2%;
    
    
    
    }
    .div-merch {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
            
    }
 

    /* MUSIC */
    
    .div-album {
    width: 85%;
    margin-bottom: 2rem;
    }
    .div-sporify-tracklist {
        flex-direction: column;
        
    }
    .div-sporify-tracklist div ol {
        display: none;
    }
    
    /* TOUR */

    .imagen-tour-resp {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    }
    .imagen-tour {
    display: none;
    
    }

    .fechas-tour {
    width: 100%;
    gap: 3rem;
    }
    .fecha-boton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
    }

    .fechas-tour div h3 {
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    }

    .fechas-tour div span {
    font-size: 0.8rem;
    margin-left: 1rem;
        
    }
    .boton-ticket {
    margin-left: 1rem;
    width: 120px;
    height: 35px;
    font-size: 0.8rem;
    font-weight: 500;
    
    }

    /* FOOTER */
    .contenedor-hover-redes {
    width: 25px;
}

    .arrow-up {
    width: 25px;
    }

    .div-footer {
    height: 70px;

}
}


@media (min-width:577px) and (max-width:1024px) {
        /* HOME */
    .divheader nav {
        width: 100%;
    }

    .menu-nav {
        width: 100%;
        justify-content: center;
        gap: 25px;
    }

    .boton-compra-ahora:hover {
    box-shadow: 0px 0px 13px white;

    }

    .slide-inoculum, .slide-remera {
    filter: drop-shadow(0 0px 13px white);
    }

    .boton-compra-ahora {
    font-size: 1.5rem;
    padding: 0px 2px;
    margin-left: 12%;
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 50%);
    }
    .slide-inoculum {
    width: 37%;
    margin-right: 11%;
        
    }


    .slide-remera{
    width: 40%;
    margin-right: 8%;

    }

    .boton-shows {
    font-size: 1.5rem;
    padding: 0px 10px;
    margin-bottom: 2rem;
    border: 4px white solid;
    background-color: rgba(0, 0, 0, 50%);
    
    }

    .h2-tour{
    font-size: 1.7rem;
   
    }

    .tabla-tour tr th, .tabla-tour tr td {
        font-size: 1.2rem;
        padding: 0.2rem 0.7rem;
    }   
    .fondo-home2 {
    gap: 0rem;
    }

    .fondo-home2 h2 {
    font-size: 2rem;
    margin-top: 1.2rem;
    }

    .fondo-home2 iframe {
    width: 70%;
    height: 70%;
    }
    /* MIEMBROS */
 
    .padre-miembros{   
    grid-template-areas: 
    "maynard adam"
    "danny justin" ;
    grid-template-rows: auto;
    grid-template-columns: 45% 45%;
    margin-top: 4rem;
}

        /* MUSIC */
    .div-album {
    width: 80%;
    
    }   
    
    /* MERCH */

    .div-nav-merch {
    margin-right: 50px;
    }

    .div-merch > * {
    max-width: 40%;
    margin: 0% 2% 3% 2%;
    
}
    /* TOUR */

    .fechas-tour {
    width: 100%;
    gap: 3rem;
    }

    .fechas-tour div h3 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    }

    .fechas-tour div span {
    font-size: 1.4rem;
    margin-left: 1rem;
        
    }
    .boton-ticket {
    margin-right: 1rem;
    height: 45px;
    font-size: 1rem;
    width: 120px;
    
    }


}




